@model Carro

@{
    ViewData["Title"] = "Editar";
}

<h2>Editar</h2>

<form asp-action="Editar" asp-controller="Carro">
    <input asp-for="Codigo" hidden/>
    <partial name="_form" /> <!-- Carrega o arquivo _Form.cshtml -->
    <input type="submit" value="Editar" class="btn btn-outline-primary" />
    <a asp-controller="Carro" asp-action="index" class="btnbtn-outline-dark">Cancelar</a>
</form>